<div class="i">
<iframe
 width="100%"
 height="100%"
 src="http://www.youtube.com/embed/qUDaYSWVruw?
  playlist=
    k_ijyIYur0w,
    knqBXxVMpl4,
    pfYJiFXHz58,

&autoplay=1
&vq=highres
&loop=1
&autohide=1
&modestbranding=0
&showinfo=0
&playsinline=0
&iv_load_policy=3"
 frameborder="0"
 allowfullscreen>
</iframe>
</div>
